<nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar navbar-expand-lg navbar-light border-bottom bg-white shadow-sm" >
  <div class="container">
    <a class="navbar-brand" routerLink="dashboard">
      <i class="fa fa-users mb-2 me-2"></i>
      <img src="assets/img/alisson_logo.svg" alt="Alisson Youssf" width="120" />
    </a>

    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
